* {
  margin: 0;
}

.container {
  background-color: rgb(99, 0, 227);
  width: 185.1vh;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.text-section {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.sub-title {
  color: rgb(178, 136, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.title {
  color: rgb(253, 229, 230);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}

.cards-container {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  gap: 40px;
}

.small-card {
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 5px;
}

.small-card-header {
  margin-top: 20px;
  width: 350px;
  height: 130px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.small-card-emoji {
  font-size: 4em;
}

.small-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(235, 201, 107);
  font-size: 2em;
}

.small-card-price-section {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-price {
  color: rgb(102, 0, 226);
  font-weight: bold;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.small-card-symbol-money {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(148, 122, 199);
}

.small-card-text-section {
  margin-top: 25px;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.small-card-description {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(160, 160, 160);
  font-weight: lighter;
}

.botton-small-card-section {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.botton-small-card {
  color: rgb(102, 0, 226);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.botton-small-card:hover {
  color: rgb(178, 136, 236);
}

.large-card {
  background-color: white;
  width: 350px;
  height: 570px;
  border-radius: 5px;
}

.large-card-header {
  background-color: rgb(255, 227, 210);
  width: 262px;
  height: 10%;
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.large-card-title {
  color: rgb(102, 0, 226);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}

.large-card-body {
  margin-top: 37px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.large-card-emoji {
  font-size: 4em;
}

.large-card-plan-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(235, 201, 107);
  font-size: 2em;
}

.large-card-price-section {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.large-card-price {
  color: rgb(102, 0, 226);
  font-weight: bold;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.large-card-symbol-money {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(148, 122, 199);
}

.large-card-text-section {
  margin-top: 6px;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.large-card-description {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(160, 160, 160);
  font-weight: lighter;
}

.botton-large-card-section {
  margin-top: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.botton-large-card {
  padding: 25px;
  width: 250px;
  background-color: rgb(102, 0, 226);
  border: none;
  color: white;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.botton-large-card:hover {
  background-color: rgb(178, 136, 236);
  color: white;
}
